<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: navbar"></div>
<br>
<br>
<br>
<br>


<form method="post" style="max-width:600px;">
    <div class="container">
        <div class="row">
            <div th:insert="fragments :: cards" th:each ="word : ${wordList}"></div>
         </div>
    </div>
    <input type="submit" class="btn btn-primary submit" value="Click To See Results" />
</form>
<br>
<br>
<br>
<br>
</body>
</html>