<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body style="top:100px">
<div id="rect-demo"></div>
<div th:replace="fragments :: navbar"></div>
<br>
<br>
<br>
<br>
<br>
<div id="d3Box"></div>
<!--<div th:each="datum : ${totalData}">
    <h1 th:text="${datum.word}"></h1>
</div>-->

<h1 th:text="${letter}" id="testy"></h1>
<h1 th:text="${zak}"></h1>
<h1 th:text="${sam}"></h1>
<h1 th:text="${bob}"></h1>
<script>
    let myArray = [];
    let newLetter;
</script>
<th:block th:object="${referenceNumber}">
    <script th:inline="javascript">
        let referenceNumber = /*[[${referenceNumber}]]*/;
    </script>
</th:block>

<th:block th:each="entry: ${totalData}">
    <script th:inline="javascript">


        myArray.push(/*[[${entry}]]*/);




    </script>
</th:block>

<script src="http://d3js.org/d3.v3.min.js"></script>
<script type="text/javascript" th:src="@{/js/results.js}"></script>
</body>
</html>