<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:fragment="navbar" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a th:href="@{/}" class="navbar-brand">Home Page</a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="navbar-collapse collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/results/submit">My Total Progress</a>
                </li>
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Progress By Letter</a>
                    <ul id="products-menu" class="dropdown-menu clearfix" role="menu">
                        <li><a href="/test/resultByLetter/starts_with_b">Starts With B</a></li>
                        <li><a href="/test/resultByLetter/ends_with_b">Ends With B</a></li>
                        <li><a href="/test/resultByLetter/starts_with_f">Starts With F</a></li>
                        <li><a href="/test/resultByLetter/ends_with_f">Ends With F</a></li>
                        <li><a href="/test/resultByLetter/starts_with_h">Starts With H</a></li>
                        <li><a href="/test/resultByLetter/starts_with_m">Starts With M</a></li>
                        <li><a href="/test/resultByLetter/ends_with_m">Ends With M</a></li>
                        <li><a href="/test/resultByLetter/starts_with_n">Starts With N</a></li>
                        <li><a href="/test/resultByLetter/ends_with_n">Ends With N</a></li>
                        <li><a href="/test/resultByLetter/starts_with_p">Starts With P</a></li>
                        <li><a href="/test/resultByLetter/ends_with_p">Ends With P</a></li>
                        <li><a href="/test/resultByLetter/starts_with_w">Starts With W</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/results/index">Try All Letters</a>
                </li>
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Try By Letter</a>
                    <ul id="products-menu" class="dropdown-menu clearfix" role="menu">
                        <li><a href="/test/starts_with_b">Starts With B</a></li>
                        <li><a href="/test/ends_with_b">Ends With B</a></li>
                        <li><a href="/test/starts_with_f">Starts With F</a></li>
                        <li><a href="/test/ends_with_f">Ends With F</a></li>
                        <li><a href="/test/starts_with_h">Starts With H</a></li>
                        <li><a href="/test/starts_with_m">Starts With M</a></li>
                        <li><a href="/test/ends_with_m">Ends With M</a></li>
                        <li><a href="/test/starts_with_n">Starts With N</a></li>
                        <li><a href="/test/ends_with_n">Ends With N</a></li>
                        <li><a href="/test/starts_with_p">Starts With P</a></li>
                        <li><a href="/test/ends_with_p">Ends With P</a></li>
                        <li><a href="/test/starts_with_w">Starts With W</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">Log In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/register">Create Account</a>
                </li>
            </ul>

        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<h1 th:text="${userName}"></h1>
<h3>This site is built to help you keep track of the progress of your child's phonetic speech development by focusing on those phonetic aspects that are relevant.  Currently, this means that you can you can keep track of all speech phonetics that are expected by the age of 3.
    </h3><br><h3>You can try by a specific letter/phonetic, or you can try all letters at once.  As you go through the site, if your child doesn't want to attempt a pronunciation, you can just skip it and not select an answer.  If your child does attempt, you can select correct if they get that part of the speech correct on the word, or incorrect if not.

    </h3><br><h3>When finished, you will be able to submit and then keep track of your child's progress as time goes on by day.</h3>
</h3>
</body>
</html>