<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: navbar"></div>
<br>
<br>
<br>
<br>
<br>
<h1 th:text="${userName}"></h1>
<h3>This site is built to help you keep track of the progress of your child's phonetic speech development by focusing on those phonetic aspects that are relevant.  Currently, this means that you can you can keep track of all speech phonetics that are expected by the age of 3.
    </h3><br><h3>You can try by a specific letter/phonetic, or you can try all letters at once.  As you go through the site, if your child doesn't want to attempt a pronunciation, you can just skip it and not select an answer.  If your child does attempt, you can select correct if they get that part of the speech correct on the word, or incorrect if not.

    </h3><br><h3>When finished, you will be able to submit and then keep track of your child's progress as time goes on by day.</h3>
</h3>
</body>
</html>