<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: navbar"></div>
<br>
<br>
<br>
<br>
<br>
<h1 th:text="${userName}"></h1>


<div id="my_dataviz"></div>
<script>
    let myArray = [];
</script>
<th:block th:object="${referenceNumber}">
    <script th:inline="javascript">
        let referenceNumber = /*[[${referenceNumber}]]*/;
    </script>
</th:block>
<th:block th:each="entry: ${totalData}">
    <script th:inline="javascript">


        myArray.push(/*[[${entry}]]*/);



    </script>
</th:block>
<ul>
    <li><h3>This app is built to help parents test and track their child's progress with certain phonetic speech sounds through a series of flash cards</h3></li>
    <li><h3>You can select to test your child by trying all phonetic sounds at once or by selecting a specific phonetic sound</h3></li>
    <li><h3>When you play this game with your child, keep in mind that if your child attempts to say the word, you must select whether they spoke the phonetic sound listed correctly or incorrectly in order to maintain accurate progress tracking</h3></li>
    <li><h3>You can skip words if you would like, and at any time if you or you child is finished, just click at the bottom to get you current results as well as your progress over time</h3></li>
    <li><h3>As your child progresses, you can always select "My Total Progress" or "Progress By Letter" to see how your child is doing</h3></li>
</ul>



</body>


</html>